<!DOCTYPE html>
<html>
<body style="font-family: 'Times New Roman', Times, serif; font-size: 12pt; max-width: 794px; margin: 0 auto;">
<pre style="white-space: pre-wrap;">
                                  ПРОТОКОЛ № ____

              закупочной комиссии по поставке товаров (выполнению работ,  
                                    оказанию услуг)

«05» Декабря 2024 г.                                                                      г. Ташкент

Объект «MIRABAD SQUARE» по адресу: Мирабадский р-н., ул. Авлиё-ота, 126.

Заявка Маркетинга № б/н от 02.12.24 г.

Согласование изменений -- нет.

На рассмотрение закупочной комиссии поступили коммерческие предложения от 2 (двух) организаций по каждому наименованию товара:

DAROMAD MUNIRA FAYZ TEXTILE № 240 от 03.12.2024
AZR TEXTILE № б/н от 03.12.2024

По результатам проведенной закупочной процедуры, переговоров с потенциальными поставщиками (товаров, работ, услуг),

<b>Закупочная комиссия решила:</b>

1. <b>Признать победителем: DAROMAD MUNIRA FAYZ TEXTILE</b>

------------------------------------------------------------------------------
Наименование                      Количество    Цена        Сумма      С НДС/
                                                                      без НДС
------------------------------------------------------------------------------
Спецодежда для охраны с              15 шт     358 400    5 376 000   С НДС
нанесением элементов брендинга 
(зимний костюм)
------------------------------------------------------------------------------
Футболка поло с нанесением           15 шт     123 200    1 848 000   С НДС
элементов брендинга
------------------------------------------------------------------------------
Бейсболка с нанесением               15 шт      50 400      756 000   С НДС
элементов брендинга
------------------------------------------------------------------------------
Спецодежда для уборщиц с             4 шт      313 600    1 254 400   С НДС
нанесением элементов брендинга
(комплект)
------------------------------------------------------------------------------
Спецодежда для поваров с             4 шт      313 600    1 254 400   С НДС
нанесением элементов брендинга
(комплект с фартуком)
------------------------------------------------------------------------------
ИТОГО:                                                   10 488 800   С НДС
------------------------------------------------------------------------------

на следующих основных условиях:

условия оплаты: 30% предоплата
срок исполнения: 15 календарных дней

2. <b>Признать резервным победителем: AZR TEXTILE</b>

------------------------------------------------------------------------------
Наименование                      Количество    Цена        Сумма      С НДС/
                                                                      без НДС
------------------------------------------------------------------------------
Спецодежда для охраны с              15 шт     560 000    8 400 000   С НДС
нанесением элементов брендинга 
(зимний костюм)
------------------------------------------------------------------------------
Футболка поло с нанесением           15 шт     134 400    2 016 000   С НДС
элементов брендинга
------------------------------------------------------------------------------
Бейсболка с нанесением               15 шт      56 000      840 000   С НДС
элементов брендинга
------------------------------------------------------------------------------
Спецодежда для уборщиц с             4 шт      280 000    1 120 000   С НДС
нанесением элементов брендинга
(комплект)
------------------------------------------------------------------------------
Спецодежда для поваров с             4 шт      392 000    1 568 000   С НДС
нанесением элементов брендинга
(комплект с фартуком)
------------------------------------------------------------------------------
ИТОГО:                                                   13 944 000   С НДС
------------------------------------------------------------------------------

на следующих основных условиях:

условия оплаты: 30% предоплата
срок исполнения: 15 календарных дней

3. Внести в наблюдательный совет ООО «APEX DEVELOPMENT» предложение по заключению контракта с <b>DAROMAD MUNIRA FAYZ TEXTILE</b> по поставке спецодежды в указанных количествах на указанных условиях в течение 3 (трех) дней с даты принятия настоящего решения и в случае отказа или уклонения от подписания контракта, заключить контракт с резервным победителем -- <b>AZR TEXTILE.</b>


Председатель закупочной комиссии _________________  У.А. Умаров

Продакшн менеджер               _________________  А.Гани

Член закупочной комиссии        _________________  Ф.А. Бабаджанов

Генеральный директор            _________________  А.Р. Раимжонов</pre>
</body>
</html>